<a href="https://colab.research.google.com/github/kingca12/Python_Project1/blob/master/Python_Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

#Project 1 

#IMPORTS
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
school = pd.read_csv('https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/2014-15_To_2016-17_School-_Level_NYC_Regents_Report_For_All_Variables.csv')
school
school.dtypes


#DATA EXPLORATION AND CLEANING
#Replace missing values with nulls
missing_values=['s', 'na']
allschools= pd.read_csv('https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/2014-15_To_2016-17_School-_Level_NYC_Regents_Report_For_All_Variables.csv', na_values=missing_values)
allschools #212331 rows
#Exploration
allschools.dtypes
allschools.head()
allschools.describe()
print(allschools2['School Name'].unique())
#Drop rows without a minimum of 7 non-NA values
allschools2=allschools.dropna(thresh=7) #137109 rows
#Delete duplicates
allschools2.drop_duplicates(keep=False, inplace=True) #130394 rows
#Convert year to a string 
allschools2['Year'] = allschools2['Year'].astype(str) 
#Create new dataset with Harriet Tubman Charter School data and relevant columns      
harrietschool=allschools2[allschools2["School Name"]=="Harriet Tubman Charter School"]
harrietschool=harrietschool[['Year', 'Regents Exam', 'Mean Score', 'Total Tested']]
harrietschool
#Create new dataset with Harriet Tubman Charter School data from 2016 and relevant columns   
harrietschool2016=allschools2[(allschools2["School Name"]=="Harriet Tubman Charter School") & (allschools2['Year']=='2016')]
harrietschool2016=harrietschool2016[['Year', 'Regents Exam', 'Mean Score', 'Total Tested']]
harrietschool2016
#Create new dataset with all schools from 2016 and relevant columns
allschools2016=allschools2[allschools2['Year']=='2016']
allschools2016=allschools2016[['Year', 'Regents Exam', 'Mean Score', 'Total Tested']]
allschools2016


#DATA ANALYSIS
harrietschool.describe() #Mean score for tests between 2015-2017 is 80.45; the minimum score was 78.5 and the maximum score was 82.6.

harrietschool.groupby(['Regents Exam', 'Year'])['Mean Score', 'Total Tested'].mean()
sns.catplot(x='Regents Exam', y='Mean Score', data=HarrietSchool, hue='Year', kind='bar')
  #Common Core Alegbra mean score in 2016 and 2017 was 78.5 and 82.2, respectively
  #Integrated Alegbra testing was completed in 2015 with a mean score of 79.9

#Comparing mean common core algebra test scores at Harriet Tubman vs. all schools from 2016
algebraall2016=allschools2016[allschools2016["Regents Exam"]=='Common Core Algebra']
algebraall2016
algebraall2016.describe() #mean score for all schools in 2016 Common Core Alegbra =68.2
harrietschool2016.describe() #mean score for Harriet Tubman in 2016 Common Core Alegbra =78.5

#Comparing scores by exam and year
harrietschool.groupby(['Year']).describe()
harrietschool.groupby(['Year'])['Mean Score'].mean().plot(kind='bar')
  #the overall mean score for all exams in 2015, 2016, and 2017 was 79.93, 78.5 and 82.2, respectively

harrietschool.groupby(['Year','Regents Exam',]).describe() 
harrietschool.groupby(['Year', 'Regents Exam'])['Mean Score'].mean().plot(kind='bar')
  #in 2015, the mean score for Integrated Alegbra was 79.93
  #in 2016 and 2017 the mean score of common core alegbra was 78.5 and 82.2, respectively